@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*{
    /* border: 1px solid #000; */
}


header{
    background-image: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
    width: 100%;
    z-index: 2;
}
.logo a:hover{
    color: transparent;
}

.logo p{
    font-size: 30px;
    color: #fff;
    margin: 1px 10px 3px 10px;
    font-family: 'Courgette', cursive;
}

.search button{
background-color: #0000;
color: #fff;
border: none;
float: left;
padding: 13px 10px 5px 10px;
}

.search input{
    font-family: 'Questrial', sans-serif;
    float: left;
    color: #fff;
    background-color: #0000;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 13px 10px 0px 10px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff87;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff87;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff87;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff87;
}

/* 篩選按鈕 */
.btn.btn-primary{
    font-family: 'Questrial', sans-serif;
    float: right;
    margin-top: 3px;
    background-color: #fff0;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 8px 30px;
}

.btn.btn-primary:hover{
    background-color: #fff;
    color: #a1c4fd;
}


/* 篩選器 */
.modal-dialog {
    max-width:700px;
}
.modal-content{
    background-image: linear-gradient(180deg, #a1c4fdcf 0%, #c2e9fbc9 100%);
    background-color: #ffffff61;
    padding:30px; 
}

.modal-header{
    letter-spacing: 2px;
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    margin-right: 5px;
    border-bottom:1px solid #fff; 
}

.modal-header button{
    color: #ffffff;
}

.modal-header button:hover{
    color: #ffffff;
}
.modal-body h5{
    letter-spacing: 2px;
    font-family: 'Questrial', sans-serif;
    margin: 10px 0px;
    color: #ffffff;
}
.col-sm-6.col-sm-6{
    float: left;
    padding: 0px;
}

.modal-body p {
    display: inline-block;
    letter-spacing: 1px;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 0px 0px 0px -10px;
}

/* music type */
body{
    background-color: #f6f6f6;
}

#buttons{
    width:100%;
    background-color: #ffffff;
}
.type{
    width: 600px;
    margin: 0 auto;
}

#buttons button{
    padding:5px 30px;
    margin: 10px 5px;
    color: #a1c4fdcf;
    background-color: #fff;
    border: 1px solid #a1c4fdcf;
    border-radius: 100px;
}

#buttons button:hover{
    color: #fff;
    background-image: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
    border: 1px solid #fff;
}

#buttons button:focus{
    color: #fff;
    background-image: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
    border: 1px solid #fff;
}

#imgs ul{
    padding: 5px 5px 5px 10px;
}
#imgs li{
    list-style-type: none;
    width:100%;
    padding:30px;
}
.info{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}
.info:hover{
    box-shadow: 0 6px 20px rgba(36, 37, 38, 0.30);
}
.info h5{
    padding:15px 0px 0px 15px;
    font-size:18px;
    color: #969696;
    font-family: 'Questrial', sans-serif;
}
.info h6{
    padding:0px 0px 0px 15px;
    font-size:16px;
    color: #a2c4fd;
    font-family: 'Questrial', sans-serif;
}
.info i{
    padding:5px 0px 0px 15px;
    color: #969696;
}
.info p{
    padding:3px 0px 0px 10px;
    font-size:14px;
    letter-spacing:1px;
    float: right;
    color: #969696;
    font-family: 'Questrial', sans-serif;
}




 /* 篩選checkbox */


  /*** basic styles ***/
  .check{
    font-size: 18px;
  }

  
  /*** custom checkboxes ***/
  
  input[name="check"] { display:none; } /* to hide the checkbox itself */
  input[name="check"] + label:before {
    font-family: FontAwesome;
    display: inline-block;
  }
  
  input[name="check"] + label:before { content: "\f0c8"; } /* unchecked icon */
  input[name="check"] + label:before { letter-spacing: 20px; color: #eeeeee;} /* space between checkbox and label */
  
  input[name="check"]:checked + label:before,
  .checks.checked::before { content: "\f14a"; } /* checked icon */

  input[name="check"]:checked + label:before,
  .checks.checked::before { letter-spacing: 20px; color:#ffffff; } /* allow space for check mark */

/*大尺寸navbar寬*/

@media (min-width: 769px){
    .navbar{
        width: 800px;
        margin: 0 auto;
    }

    #contain ul{
        width:900px;
        margin: 0 auto;
    }

}

/* 小尺寸 */

@media (max-width: 575px){
    .logo{
    width: 50%;
    float: left;
}
.filter{
    width: 50%;
    float: left;
}
.third{
    margin-left: 15px;
}
.type{
    width:100%;
    margin: 0 auto;
}

#buttons{
    padding: 0px 0px 0px 10px;
}

#buttons button{
    padding:5px 10x;
}
#contain ul{
    width:100%;
}
}

  /* 分頁contain css */


  .intro img{
    padding: 30px 40px 0px 0px;
}
.intro p{
    padding: 30px 0px 0px 0px;  
}

#contain ul{
    list-style-type: none;
    text-align:justify;      
    text-justify:distribute; 
    clear: both;
}
.intro h6{
border: 1px solid #a2c4fd;
padding: 10px 0px 10px 30px;
margin: 40px 20px -30px -20px;
border-radius: 100px;
letter-spacing: 1px;
color: #a2c4fd;
}
.intro p{
    padding:30px 40px 0px 10px; 
}

/* 返回頂端 */

#gotop {
    position: fixed;
    border-radius:100px;
    right: 20px;
    bottom: 28px;
    padding:1px 10px 0px 10px;
    font-size: 25px;
    background-image: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}