html,body{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

h2{
    z-index: 5;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #fff;
}

#mycanvas
    {
    /* border:3px solid #000; */
    background-color: #001D2E;
    }