#wrap {
    width: 100%;

}

img{
    width: 100%;
}
header {
    height: 50px;
}

h1 {
    color:#969696;
    text-align: center;
    border-bottom: 1px solid #969696;
}

h3{
    color: #dd5656;
    background-color: #eeeeee;
    padding: 20px 0px 20px 0px;
    text-align: center;
}