@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*{
    /* border: 1px solid #000; */
}


header{
    top:0;
    background-image: linear-gradient(180deg, #4481eb 0%, #04befe 100%);
    width: 100%;
    z-index: 2;
    font-family: 'Mallanna', sans-serif;
}
main{
    font-family: 'Mallanna', sans-serif;
}
.navbar{
    width: 1024px;
    margin: 0 auto;
}

.logo p{
    font-size: 30px;
    color: #fff;
    margin:0px;
    font-family: 'Courgette', cursive;
}
#navbarNav p{
    color: #fff;
    padding:10px 20px;
    margin: 0px;
}
#navbarNav p:hover{
    border-bottom: 3px solid #fff;
}
#navbarNav p:focus{
    border-bottom: 3px solid #fff;
}
.admin{
    width: 200px;
    background-color: transparent;
    border: transparent;
}
.admin:hover{
    width: 200px;
    background-color: transparent;
    border-color: transparent;
}
.admin.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.button,.img{
    width: 50px;
    float: left;
}

button p{
    float:left;
    color: #fff;
    margin: 13px;
}
header .dropdown-menu{
    width: 200px;
}

.admin.dropdown-toggle::after {
    color: #fff;
    margin-top: 24px;
}

/* 時間軸 */
.timeline{
    width: 1000px;
    margin: 0 auto;
}
.title h6{
    float: left;
    margin-top: 20px;
    letter-spacing:1px;
}
.date{
    float: right;
    margin: 16px 18px 0px 0px;    
}
.date p{
    float: left;
    margin: 0px 5px;
}
.fas.fa-caret-right{
    padding: 0px 10px;
}
.date button{
    margin-top:-7px;
}

.date.dropdown-toggle::after {
    color: #fff;
    margin-top: 24px;
}


.date button,.date button:hover,.date button:focus.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    
}


    


/* 四張圖表 */
.link{
    clear: both;
}
.link_number{
    width: 1000px;
    margin: 0 auto;
    list-style-type: none;
}

.link_number li{
    width: 200px;
    margin: 10px 20px 10px 15px;
    padding:15px 10px 0px 10px;
    float: left;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #4481eb 0%, #04befe 100%);
}
.fas.fa-hand-holding-usd,.fa-boxes,.fa-money-bill,.fa-users{
    float: left;
    color: #fff;
    margin-left: 20px;
}
.total h3{
    float: left;
    color: #fff;
    padding-left: 10px;
}
.total p{
    clear: both;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
}
/* 線條圖 */
#charts{
    clear: both; 
    width: 900px;
    margin:0 auto;
}
#charts h6{
    padding: 20px;
    color: #4481eb;
    letter-spacing:1px;
}
/* Website */
.Website,.Orders{
    width: 50%;
    float: left;
}
.web{
    display: inline-block;
    border-bottom: 1px solid #aaaaaa;
    margin: 7px 0px;
}
.icon,.number,.green,.red{
    float: left;
}
.number{
    color: #282828;
    width: 150px;
    font-size: 32px;
    margin:0px  20px;
}
.Popovers{
    position: absolute;
    margin: -60px 0px 0px 300px;
    padding: 10px;
    float: right;
    z-index:2;
    float: right;
    text-align: center;
    color: #fff;
    font-size: 10px;
    background-color: #007bff;
    border-radius: 5px;
    display: none;
}
.green{
    color: #00ff00;
    position: relative;
}
.red{
    color: #ff0000;
    
}
.icon i{
    width: 50px;
    text-align: center;
    float: left;
    padding: 10px 10px 0px 10px;
}
.green i,.red i{
    float: left;
    padding: 18px 10px 0px 10px;
}
.icon p,.green p,.red p{
    float: left;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}
.icon p{
    width: 100px;
}

/* Orders */
.Lasest{
    display: inline-block;
}
.Lasest_img{
    margin-left: 15px;
    width: 100px;
    float: left;
}
.Lasest_info{
    padding:15px 10px 0px 20px;
    float: left;
}
.Lasest_info i{
    width: 20px;
    margin-right: 5px;
    text-align: center;
    color: #aaaaaa;
}
.Lasest_info p{
    margin-bottom: 5px;
    color: #aaaaaa;
}
.Lasest_total{
    padding-top: 49px;
    margin-left: 50px;
    float:left;
}
.Lasest_total h5{
    color: #282828;
    font-size: 32px;
    margin: opx;

}
.Lasest_total p{
    margin-bottom: -5px;
    font-size: 12px;
}

/* 小尺寸 */

@media (max-width: 575px){
.navbar{
    width:100%;
    margin: 0 auto;
}
.navbar-toggler{
    background-color: #fff;
}
.navbar-toggler-icon{
    color: #04befe;
}
}

/* ------------------第二頁------------------ */

 /* 篩選checkbox */
 .checkbox,.CHECK.dropdown{
     float: left;
     margin-top: 8px;
 }
 .btn-secondary, .btn-secondary:hover {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}
.EDIT_SECTION{
    float: right;  
    margin-top: 8px;  
}
.checkbox{
    margin: 14px 0px 0px 10px;
}
  
  /*** custom checkboxes ***/
  
  input[name="check"] { display:none; } /* to hide the checkbox itself */
  input[name="check"] + label:before {
    font-family: FontAwesome;
    display: inline-block;
  }
  
  input[name="check"] + label:before { content: "\f0c8"; } /* unchecked icon */
  input[name="check"] + label:before { letter-spacing:5px;  color: #cccccc;} /* space between checkbox and label */
  
  input[name="check"]:checked + label:before,
  .checks.checked::before { content: "\f14a"; } /* checked icon */

  input[name="check"]:checked + label:before,
  .checks.checked::before { letter-spacing:5px; color:#04befe; } /* allow space for check mark */

  /* orders_nav */
.orders_nav,.orders_list{
    clear: both;
    width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc;
    display: flex;
}
.orders_list:hover{
    background-color: #eeeeee;
}
.orders_nav div{
    float: left;
    padding: 10px 0px;
    text-align: left;
    font-size: 17px;
}
.checklist{
    margin: 5px 0px 0px 11px;
}
.orders_list div{
    float: left;
    padding-top: 10px;
    text-align: left;
    font-size: 16px;
}

footer{
    width: 1000px;
    display:block;
    margin: 0 auto;
}
.pagination{
    float: right;
    margin: 20px 0px;
}